<body>
 <nav>

      <p><img src="images/simbolo1.webp">CENTRO MEDICO BACK<br> </p> 
       
       
<!-- lineas de hamburgesa-->
        <ul>
            <li> <a href="/pacientes">Pacientes</a></li>
            <li><a href="/medicos">Medicos</a></li>
            <li><a href="/citas"> Citas</a> </li>
        </ul>
    </nav>

      
    <h1>BIENVENIDO A {{title}}</h1>

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="images/HOSPITAL1.jpg" class="d-block w-100" alt="HOSPITAL1.jpg">
            </div>
            <div class="carousel-item">
                <img src="images/HOSPITAL2.jpg" class="d-block w-100" alt="HOSPITAL2.jpg">
            </div>
            <div class="carousel-item">
                <img src="images/HOSPITAL3.jpg" class="d-block w-100" alt="HOSPITAL3.jgp">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</body>